code {
  background: #aaaaaa;
  font-family: monospace;
}

code.block {
  border: 1px gray solid;
  white-space: pre;
  display: block;
  margin-left: 5%;
  margin-right: 10%;
  padding: 5px;
  padding-top: 0;
}

/* We are using <i/> for Identifiers, not Italics. */
i, .i {
  border-bottom: 1px dotted green;
  font-style: normal;
  font-family: monospace;
}

ol li {
  color: #232323;
}

/* template */
.t {
  color: blue;
}
/* namespace */
.n {
  color: purple;
}
/* variable */
.v {
  color: #303030;
}
/* dictionary */
.d {
  color: red;
}
/* syntax/statement */
.s {
  color: green;
}
/* flag */
.f {
  color: #9f5500;
}

/* We are using <b/> for recognized statements. */
b, .b {
  color: green;
  font-weight: bold;
}

/* We are using <u/> for overridable syntax. */
u {
  color: green;
  text-decoration: none;
}

tt {
  color: gray;
  font-style: italic;
}

