
#projects tbody .link a 
{
  border-bottom: 1px dotted blue;
  font-size: 0.8em;
  color: #444444;
  text-decoration: none;
}

#projects tbody .link a:hover 
{
  text-decoration: none;
  background: blue;
  color: white;
}

.lang code 
{
  border: 1px solid gray;
  font-variant: small-caps;
  padding: 1px;
}

.lang code.multi 
{
  background: white;
}

.lang code.js 
{
  background: yellow;
}

.lang code.php 
{
  background: #509ff0;
}

.lang code.bash 
{
  background: #f0005f;
}

/* Do we want to support perl 5 and raku? */

