#projects td
{
  padding: 0.25em;
}

#projects tbody .name,
#projects tbody .ver
{
  font-family: monospace;
}

#projects tbody .link a 
{
  border-bottom: 1px dotted blue;
  font-size: 0.8em;
  color: #444444;
  text-decoration: none;
}

#projects tbody .link a:hover 
{
  text-decoration: none;
  background: blue;
  color: white;
}

#projects tbody .link a.none,
#projects tbody .link a.none:hover
{
  background: transparent;
  color: #553333;
  border-bottom: 1px dotted #662222;
}

.lang code 
{
  display: inline-block;
  text-align: center;
  width: 3.5em;
  border: 1px solid gray;
  font-variant: small-caps;
  font-weight: bold;
  padding: 1px;
}

.lang code.multi 
{
  background: white;
}

.lang code.js 
{
  background: yellow;
}

.lang code.php 
{
  background: #509ff0;
}

.lang code.bash 
{
  background: #f0005f;
}

/* Do we want to support perl 5 and raku? */

