html {
  background: silver;
}
body {
  color: black;
  font-family: sans-serif;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: green;
}
h2 {
  color: #119933;
}

