html {
  background: silver;
}
body {
  color: black;
  font-family: sans-serif;
}
p {
  margin-left: 5%;
  margin-right: 10%;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
h1 {
  color: green;
}
h2 {
  color: #119933;
}
h3 {
  color: purple;
}
h4 {
  color: gray;
  font-size: 0.75em;
}
#footer {
  font-size: 0.75em;
  text-align: center;
  color: #aaaaaa;
}
#footer a {
  color: gray;
}

