garden (versions) {{
<html>
<head>
<title>Garden: A Functional Template Language (Specification)</title>
<link rel="stylesheet" href="../style/main.css" />
<link rel="stylesheet" href="../style/versions.css" />
</head>
<body>
<h1>Garden: A Functional Template Language</h1>

<h2>NOTE: Garden is discontinued and unmaintained.</h2>

<table>
<tr>
<th>API</th>
<th>Revision</th>
<th>Updated</th>
<th>Formats</th>
</tr>
[[versions:showVer(*api, *version)]]
</table>

<div id="bottom">
<a href="../">Return to Projects</a>
</div>
</body>
</html>
}}

showVer (api, version) {{
[[rev=version.rev]]
<tr>
<td>[[api]]</td>
<td>[[?rev:revName(rev);revZero()]]</td>
<td>[[version.date]]</td>
<td><a href="[[api]]">HTML</a></td>
</tr>
}}

revZero () {{ Release }}
revName (rel) {{ [[rel]] }}

